{% extends 'matricula/base.html' %}

{% block content %}

<div>
  <a class="btn btn-primary btn-lg btn-block" href="{% url 'cpf_validate' cpf %}">Voltar para Lista</a>
  <a class="btn btn-primary btn-lg btn-block" href="{% url 'proof' cpf %}">Adicionar Comprovante de Pagamento</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>CPF</th>
      <th>Proof</th>
    </tr>
  </thead>
  <tbody>
    {% for proof in proofs %}
    <tr>
      <td>{{proof.cpf}}</td>
      <td>
        <a href="{{proof.proof.url}}">{{proof.proof}}</a>        
      </td>
    </tr>
    {% empty %}
    <tr class="group">
      <td colspan="7" class="text-center">Nenhum comprovante cadastrado</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}